.picture {
    width: 40rem;
    margin-top: 30px;
    margin-left: 27%;
}

.title {
    margin-top: 15px;
    margin-left: 37%;
    font-size: 35px;
}

.header {
    background: wheat;
    padding-bottom: 35px;
}

.secondHeader {
    margin-left: 15%;
}